<nav class="navbar-wagon">
  <div class="container-fluid navbar-wagon-container">

    <div class="logo fadeIn">
      <?xml version="1.0" encoding="utf-8"?>
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="50" viewBox="0 0 208 128">
        <rect style="fill:none;stroke:#7C7C7C;stroke-width:10" width="198" height="118" x="5" y="5" ry="10" />
        <path style="fill:#7C7C7C" d="m 30,98 0,-68 20,0 20,25 20,-25 20,0 0,68 -20,0 0,-39 -20,25 -20,-25 0,39 z" />
        <path style="fill:#7C7C7C" d="m 155,98 -30,-33 20,0 0,-35 20,0 0,35 20,0 z" />
      </svg>
      <span class="logo-text">Bin</span>
    </div>

    <div class="navbar-wagon-pusher"></div>

    <div><%= yield(:editor_buttons) %></div>

    <hr>

    <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag current_user.picture || "http://api.adorable.io/avatars/300/#{current_user.email}", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
              <% end %>
            </li>
            <li>
              <%= link_to my_bins_path do %>
                <i class="fa fa-file"></i>  <%= t ".profile", default: "My Bins" %>
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
    <hr>
    <%= link_to new_bin_path, class: "navbar-wagon-item navbar-wagon-button btn" do %>
      New Bin
    <% end %>
  </div>
</nav>
