<!DOCTYPE html>
<html>
  <head>
    <title>Bin</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">
    <link rel="shortcut icon" href="/favicon.png"/>
  </head>
  <body class="flexbox <%= controller.controller_name + "_" +params[:action] %>">

    <%= yield(:loading) %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
